
/*CSS Reset

a way to remove any pre-defined margins and paddings set by the browser. This is to have less hassle in managing space that will be used for the layout of the webpage*/
*{
margin: 0;
padding: 0;
}

/*Using Google Fonts "Open Sans* for styling the body texts*/

body{
	font-family: "open-sans", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*We can also select multiple combination selectors with the use of comma*/

nav .nav, nav .nav-logo{
	margin: 5rem;

	/* li are naturally block */
	display: inline;
}

/*INFO SECTION*/
/*when we have different measurements for each side, the measurement for each side can be used (padding-left, padding-right, padding-top, padding-bottom)*/

#intro{
	/* % value is used for the padding/margin to use the relative measurements of the screen of the user */
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*SUCCEED INFO*/
#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}
#succeed-info .card{
	/*allows the card to appear next to each other*/
	/*
	inline - consuming only the content width of the elenent
	block - consume the fullwidth of the webpage regardless of the content width

	inline-block - */
	display: inline-block;
	/*align the elements at the top of their container*/
	vertical-align: top;
	/*set the minimum height in case the content does not fit the card*/
	min-height: 175px;
	/*each card will only use 30% of the screen size*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
}
/*FOOTER SECTION*/
footer span{
	margin-left: 5rem;
	margin-right: 5rem;
	/*shorthand:  margin:  0 .5rem */

}
#pre-order{
	margin-top: 3rem;
	margin-bottom: 3rem;
	background-color:#002540;
	color: whitesmoke;

}
#pre-order div{
	margin: 3rem;
	line-height: 1.5;
	display: inline-block;
	position: relative;
	vertical-align: top;
}
#pre-order h3{
margin-bottom: 5px;
}

